* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

body {
  width: 100vw;
  min-height: 100svh;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 32px;
}

.logo {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.533px;
}

.theme {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 26px;
}

.theme h3 {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.theme-nmbrs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-bottom: 5px;
}

.theme-nmbrs p {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

.switch-btn {
  width: 71px;
  height: 26px;
  border-radius: 13px;
  display: flex;
  position: relative;
}

#switch-btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 200ms;
}

.theme-aria {
  width: 33%;
  height: 100%;
}

.result-screen {
  width: 100%;
  height: fit-content;
  padding: 25px 0 17px;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 24px;
  overflow-x: auto;
  direction: rtl;
}

.result {
  width: fit-content;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.667px;
  direction: ltr;
  padding: 0 19px;
}

.buttons {
  width: 100%;
  height: fit-content;
  padding: 24px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 13px;
}

.button {
  width: 100%;
  border-radius: 5px;
  border: none;
}

.button1 {
  font-size: 32px;
  padding: 13px 10px 11px;
}

.button2 {
  font-size: 20px;
  padding: 12px 10px;
}

.button3 {
  grid-column: span 2;
  font-size: 20px;
  padding: 12px 22px;
}

.button4 {
  grid-column: span 2;
  font-size: 20px;
  padding: 12px 22px;
}

.button p {
  font-weight: 700;
  letter-spacing: -0.533px;
}

main {
  width: 90vw;
  max-width: 540px;
}

@media (min-width : 600px) {
  .result-screen {
    padding: 36px 0 28px;
    white-space: nowrap;
  }

  .result {
    font-size: 56px;
    padding: 0 28px;
  }

  .buttons {
    padding: 32px 30px;
    gap: 24px
  }

  .button1 {
    font-size: 40px;
  }

  .button2 {
    font-size: 28px;
  }

  .button3 {
    font-size: 28px;
  }

  .button4 {
    font-size: 28px;
  }
}