body {
  background-color: #E6E6E6;
}

.logo {
  color: #36362C;
}

.theme h3 {
  color: #36362C;
}

.theme-nmbrs p {
  color: #36362C;
}

.switch-btn {
  background-color: #D2CDCD;
}

#switch-btn {
  background-color: #C85402;
}

.result-screen {
  background-color: #EEE;
}

.result {
  color: #36362C;
}

.buttons {
  background-color: #D2CDCD;
}

.button1 {
  background-color: #E5E4E1;
  box-shadow: 0px -4px 0px 0px #A79E91 inset;
  color: #36362C;
}

.button1:hover {
  background-color: #FFFFFE;
}

.button2 {
  background-color: #378187;
  box-shadow: 0px -4px 0px 0px #1B6066 inset;
  color: white;
}

.button2:hover {
  background-color: #62B5BC;
}

.button3 {
  background-color: #378187;
  box-shadow: 0px -4px 0px 0px #1B6066 inset;
  color: white;
}

.button3:hover {
  background-color: #62B5BC;
}

.button4 {
  background: #C85402;
  box-shadow: 0px -4px 0px 0px #873901 inset;
  color: white;
}

.button4:hover {
  background-color: #FF8A38;
}