body {
  background-color: #17062A;
}

/*header**************************************/
.logo {
  color: #FFE53D;
}

.theme h3 {
  color: #FFE53D;
}

.theme-nmbrs p {
  color: #FFE53D;
}

.switch-btn {
  background-color: #1E0936;
}

#switch-btn {
  background-color: #00DED0;
}

/*result screen*/

.result-screen {
  background-color: #1E0936;
}

.result {
  color: #FFE53D;
}

/*button*/
.buttons {
  background-color: #1E0936;
}
.button1 {
  background-color: #331C4D;
  box-shadow: 0px -4px 0px 0px #881C9E inset;
  color: #FFE53D;
}

.button1:hover {
  background-color: #6C34AC;
}

.button2 {
  background: #56077C;
  box-shadow: 0px -4px 0px 0px #BE15F4 inset;
  color: white;
}

.button2:hover {
  background-color: #8631AF;
}

.button3 {
  background: #56077C;
  box-shadow: 0px -4px 0px 0px #BE15F4 inset;
  color: white;
}

.button3:hover {
  background-color: #8631AF;
}

.button4 {
  background-color: #00DED0;
  box-shadow: 0px -4px 0px 0px #6CF9F1 inset;
  color: #1A2327;
}

.button4:hover {
  background-color: #93FFF8;
}
